.countSuper{
   background-color: var(--light-bg);
   padding-bottom: 5rem;
   /* background-color: #dee7e7; */
}
.count .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .count .box-container .box{
    background-color: var(--purple);
    border-radius: .5rem;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
 }
 
 .count .box-container .box i{
    font-size: 5rem;
    color:var(--green);
 }
 
 .count .box-container .box .content h3{
    font-size: 2rem;
    color:var(--white);
    margin-bottom: .5rem;
 }
 
 .count .box-container .box .content p{
    font-size: 1.6rem;
    color:var(--light-bg);
 } 
