.heading{
   color: var(--black)
}
.courses .slide{
    background-color: var(--light-bg);
    border-radius: .5rem;
    text-align: center; 
    padding:2rem;
    margin-bottom: 4rem;
    user-select: none;
 }
 
 .courses .slide img{
    height: 25rem;
    width: 100%;
 }
 
 .courses .slide h3{
    margin:1.5rem 0;
    font-size: 2rem;
    color:var(--white);
 }
 
 .courses .slide p{
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-white);
 }
 
 /* .swiper-pagination-bullet{
    background-color: var(--white);
    background-color: var(--purple);
 }
  
 .swiper-pagination-bullet-active{
    background-color: var(--green);
    background-color: var(--purple);
 } */

 .teachers .slide{
   position: relative;
   overflow: hidden;
   margin-bottom: 4rem;
   user-select: none;
}

.teachers .slide img{
   height: 55rem;
   width: 100%;
   object-fit: cover;
   border-radius: .5rem;
}

.teachers .slide h3{
   margin-top: 1.5rem;
   font-size: 2rem;
   text-align: center;
   color:var(--white);
}

.teachers .slide .share{
   position: absolute;
   top:1rem; left:-10rem;
}

.teachers .slide:hover .share{
   left: 2rem;
}

.teachers .slide .share a{
   display: block;
   margin-top: 1rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   border-radius: .5rem;
   background-color: var(--white);
   color:var(--black);
   text-align: center;
   font-size: 2rem;
}

.teachers .slide .share a:hover{
   background-color: var(--green);
   color:var(--white);
}

.reviews-slider .slide{
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:2rem;
   margin-bottom: 4rem;
   user-select: none;
}

.reviews-slider .slide p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-white);
}

.reviews-slider .slide .user{
   display: flex;
   align-items: center;
   gap:1.5rem;
   margin-top: 1.5rem;
}

.reviews-slider .slide .user img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews-slider .slide .user h3{
   font-size: 2rem;
   color:var(--white);
   margin-bottom: .7rem;
}

.reviews-slider .slide .user .stars i{
   font-size: 1.5rem;
   color:var(--green);
}