.footer{
    background-color: var(--purple);
    /* background-color: var(--white); */
    text-align: center;
 }
 
 .footer .share a{
    margin:0 .3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 3rem;
    /* color:var(--white); */
    color: #dee7e7;
 }
 
 .footer .share a:hover{
    /* color: var(--green); */
    color: var(--white);
 }
 
 .footer .credit{
    margin-top: 2.5rem;
    padding:1.5rem;
    padding-top: 2.5rem;
    border-top: .1rem solid var(--white);
    /* border-top: .1rem solid var(--light-white); */
    font-size: 2rem;
    color:var(--white);
    /* color:var(--light-white); */
 }
 
 .footer .credit span{
    /* color:var(--green); */
    color:var(--light-bg);
    font-weight: 800;
 }